.card-detail{
    display: grid;
    margin: 5%;
    grid-template-columns: 300px 600px;
    grid-template-rows: 50px 70px 40px 80px;
    grid-template-areas: 
    "img-d titulo-d"
    "img-d descripcion"
    "img-d precio-d"
    "img-d contador";

} 

.img-detail{
    grid-area: img-d;
    width: 250px;
}

.titulo-detail{
    grid-area: titulo-d;
   margin: 0%;
}

.descripcion{
    grid-area: descripcion;
    font-size: larger;
    align-items: center;
    margin: 0%;
}

.precio-detail{
    grid-area: precio-d;
    font-weight: 500;
    font-size: larger;
    margin: 0%;
}

.contador{
    grid-area: contador;
}
