.div-carrito{
    display: flex;
    text-decoration: none;
    margin-left: 53%;
}

.carrito{
    margin: 70% 0% 0% 10%;
}

.contador-carrito{
    margin: 70% 0% 0% 0%;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
