.div-carrito{
    display: flex;
    text-decoration: none;
}

.carrito{
    margin: 33px 0px 0px 250px;
}

.contador-carrito{
    margin: 35px 2px ;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
